html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Empêche scroll global */
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh; /* prend tout l'écran */
  padding: 40px;
  box-sizing: border-box;
  gap: 40px;
}
.container:not(.shifted) {
  justify-content: center;
}
/* Colonne gauche : scrollable uniquement */
.list-wrapper {
  flex: 1;
  max-width: 30%;
  height: 100%;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 10px;
}

/* Colonne droite : centrée verticalement dans l'écran */
.details {
  flex: 0 0 70%;
  max-width: 70%;
  position: sticky;
  max-height: 90vh;
  top: 50%;
  overflow: auto;
  /* Ajout pour centrer le contenu */
  display: flex;
  align-items: center;     /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */

  padding: 20px;
  border-radius: 12px;
}

