html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}


.container {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px - 20px);
  box-sizing: border-box;
  gap: 40px;
}
.container:not(.shifted) {
  justify-content: center;
}

/* Colonne gauche : scrollable uniquement */
.list-wrapper {
  flex-shrink: 0;         /* Ne se réduit pas au-delà de son contenu */
  width: 300px;           /* Largeur fixe ou min-width */
  overflow-y: auto;
  height: 100%;
}


.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 10px;
}

/* Colonne droite : centrée verticalement dans l'écran */
.details {
  flex: 0.95;                /* <-- prend tout l’espace restant */
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}


